.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppContent {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppTop {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 8vh;
}

.AppMiddle {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.Carousel {
  background-color: red;
  padding: 50px;
  min-height: 30vh;
}

.CarouselItem {
  background-color: white;
  padding: 10px;
  min-height: 30vh;
  max-width: 25vw;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
